/*Enitre Site*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Section*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 20px;
    background-attachment: fixed;
    color: #09114e;
    background-color: #b3b289;
}

/*'Kelsey's Portfolio Section*/
header h1 {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 35px;
}

/*Navigation Section*/
header ul {
    display: flex;
    list-style: none;
    margin: 7px 0;
    font-size: 24px;
}

/*Navigation Text*/
header a {
    padding: 15px 30px;
    color: #09114e;
    text-decoration: none;
}

/*Navigation Text Hover*/
header nav ul li a:hover {
    color: darkred;
}

/*Main Content Section*/
body {
    color: #09114e;
    background-color: #964141;
}

/*Break Section Between Header and About Me Section*/
.career-title {
    background-image: url(../assets/images/background-image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 250px;
    width: 100%; 
}

/*'Full-Stack Web Development Student' Text*/
.career-title h2 {
    font-size: 30px;
    padding: 10px 40px;
    height: 70px;
    color: #09114e;
    background-color: #b3b289;
    border-radius: 10px;
}

/*About Me Section*/
.me {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 40px;
}

/*About Me Text*/
.me h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #09114e;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 30px;
    border-right: #09114e solid 3px;
}

/*Profile Picture*/
.me img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/*About Me Paragraphs*/
.me p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 40px;
}

/*Profile picture*/
#buck-deadhead {
    object-fit: cover;
    max-width: 20%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Work Section*/
.work-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 40px;
}

.projects {
    display: inline-flex;
}

/*'Work' text*/
.work-title h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #09114e;
    padding-left: 20px;
    padding-right: 30px;
    border-right: #09114e solid 3px;
}

/*Main Project Display*/
.main-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    height: auto;
}

/*Main Project Text*/
#box-text {
    font-size: 28px;
    color: #09114e;
    background-color: #b3b289;
    border-radius: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15px;
    max-width: 80%;
}

/*Main Project Text*/
#box-text a {
    flex-wrap: wrap;
    font-weight: bold;
}

/*Main Project Picture*/
#code-refractor {
    width: 75%;
    height: auto;
    margin-bottom: 15px;
}

/*Side Project Section*/
.side-projects {
    display: grid;
    margin-bottom: 20px;
}    

.box1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
}

.box2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 10px;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

.box4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 10px;
}

/*Side Project Text*/
#box-text2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #09114e;
    background-color: #b3b289;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
}

/*Side Project Text*/
#box-text2 a {
    font-weight: bold;
}

/*Movie Side Project Image*/
#my-menu {
    width: 60%;
    height: auto;
}

/*Flick Picker Side Project Image*/
#blazing-saddles {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

/*Rafting Side Project Image*/
#indian-creek {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

/*Cooking Side Project Image*/
#ramen {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

/*Contact Information Section*/
.contact-info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #b3b289;
}

/*Contact Me Text*/
.contact-info h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #09114e;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 30px;
    border-right: #09114e solid 3px;
    height: auto;
}

/*Contact Navigation Section*/
.contact-links, 
.contact-links ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: 7px 0;
    font-size: 30px;
}

/*Contact Navigation Section*/
.contact-links a {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    color: #09114e;
    list-style: none;
}

/*Contact Navigation Hover Text*/
.contact-links li a:hover {
    color: darkred;
}

/*Popup Position*/
.overlay {
    position: fixed;
    top: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

/*Popup Position*/
.overlay:target {
    visibility: visible;
    opacity: 1;
}

/*Popup Display*/
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #b3b289;
    border-radius: 5px;
    width: 470px;
    position: relative; 
    border: #09114e solid 2px;  
}

/*Popup Text*/
.popup h6 {
    margin-top: 0;
    color:#09114e ;
}

/*Popup 'x' Close*/
.popup .close {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/*Footer Section*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #b3b289;
}

/*Round Image Corners*/
img {
    border: 4px solid #09114e;
    border-radius: 10px;
}

/*Different Size Screen Instructions*/
@media screen and (max-width: 1200px) {
    header {
        justify-content: center;
    }
    .career-title {
        justify-content: center;
    }
    .me {
        flex-direction: column;
    }
    .me img {
        margin-bottom: 20px;
    }
    .box-text {
        font-size: 16px;
    }
    .box-text2 {
        font-size: 16px;
    }
    .contact-info {
        justify-content: center;
    }
    footer {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
    }
    .career-title {
        justify-content: center;
    }
    .me {
        flex-direction: column;
    }
    .me img {
        margin-bottom: 20px;
    }
    .work-title {
        flex-direction: column;
    }
    .box-text {
        font-size: 16px;
    }
    .box-text2 {
        font-size: 16px;
    }
    .contact-info {
        justify-content: center;
    }
    footer {
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    header {
        justify-content: center;
    }
    .career-title {
        justify-content: center;
    }
    .me img,
    .me p {
        flex-direction: column;
    }
    .work-title {
        flex-direction: column;
    }
    .box-text {
        font-size: 16px;
    }
    .box-text2 {
        font-size: 16px;
    }
    .contact-info {
        justify-content: center;
    }
    footer {
        justify-content: center;
    }
}
